<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cordys.crm.follow.mapper.ExtFollowUpPlanMapper">

    <select id="selectList" resultType="cn.cordys.crm.follow.dto.response.FollowUpPlanListResponse">
        SELECT
        fup.id,
        fup.customer_id,
        fup.opportunity_id,
        fup.type,
        fup.clue_id,
        fup.content,
        fup.owner,
        fup.contact_id,
        fup.estimated_time,
        fup.create_time,
        fup.update_time,
        fup.create_user,
        fup.update_user,
        fup.method,
        fup.converted,
        fup.status,
        if (fup.type = 'CLUE', c.pool_id, cu.pool_id) as poolId
        FROM
        follow_up_plan fup
        LEFT JOIN clue c ON c.id = fup.clue_id
        LEFT JOIN customer cu ON cu.id = fup.customer_id
        WHERE fup.organization_id =#{orgId}
          AND (c.transition_type is null or c.transition_type != 'CUSTOMER')
        <if test="resourceType == 'CUSTOMER'">
            AND fup.customer_id = #{request.sourceId}
        </if>
        <if test="resourceType == 'CLUE'">
            AND fup.clue_id = #{request.sourceId}
            AND fup.create_user = #{userId}
        </if>
        <if test="resourceType == 'OPPORTUNITY'">
            AND fup.opportunity_id = #{request.sourceId}
        </if>
        <if test="type != null and type != ''">
            AND fup.type = #{type}
        </if>
        <if test="orgId != null and orgId != ''">
            AND fup.organization_id = #{orgId}
        </if>
        <if test="request.keyword != null and request.keyword != ''">
            AND fup.content like concat('%', #{request.keyword},'%')
        </if>
        <if test="request.myPlan">
            AND fup.owner = #{userId}
        </if>
        <if test="request.status != null and request.status != '' and request.status != 'ALL'">
            AND fup.status = #{request.status}
        </if>

        <if test="customerData != null and !customerData.all and customerData.owner">
            <if test="customerData.userIds != null and customerData.userIds.size() > 0">
                AND fup.owner not in
                <foreach collection="customerData.userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>
        </if>

        <if test="customerData != null and !customerData.all and !customerData.owner and !customerData.self">
            <if test="customerData.userIds != null and customerData.userIds.size() > 0">
                AND fup.owner not in
                <foreach collection="customerData.userIds" item="userId" open="(" close=")" separator=",">
                    #{userId}
                </foreach>
            </if>
        </if>

        <if test="customerData != null and !customerData.all and !customerData.owner and customerData.self">
            AND fup.owner = #{userId}
        </if>

        <if test="resourceTypeList!=null and resourceTypeList.size()>0">
            AND fup.type in
            <foreach collection="resourceTypeList" item="type" open="(" close=")" separator=",">
                <choose>
                    <when test="type == 'OPPORTUNITY'">
                        'CUSTOMER'
                    </when>
                    <otherwise>
                        #{type}
                    </otherwise>
                </choose>
            </foreach>
        and
            <foreach collection="resourceTypeList" item="type" open="(" close=")" separator="or">
                <if test="type == 'CUSTOMER'">
                    fup.customer_id is not null
                </if>
                <if test="type == 'OPPORTUNITY'">
                    fup.opportunity_id is not null
                </if>
                <if test="type == 'CLUE'">
                    fup.clue_id is not null
                </if>

            </foreach>
        </if>

        ORDER BY fup.estimated_time DESC, fup.create_time DESC
    </select>


    <select id="selectPlanByTimestamp" resultType="cn.cordys.crm.follow.domain.FollowUpPlan">
        select fup.id, fup.customer_id, fup.opportunity_id, fup.clue_id, fup.organization_id, fup.owner, fup.estimated_time, fup.create_user
        FROM follow_up_plan fup
        INNER JOIN sys_user on sys_user.id = fup.`owner` and sys_user.id = fup.`create_user`
        WHERE estimated_time = #{timestamp}
    </select>
    <select id="getNewFollowUpPlan" resultType="java.lang.Long">
        select count(*) from follow_up_plan c

        <if test="request.dataPermission != null and request.dataPermission.deptIds.size() > 0">
            join sys_organization_user sou on c.owner = sou.user_id
            and (
            sou.department_id in
            <foreach collection="request.dataPermission.deptIds" item="deptId" open="(" close=")" separator=",">
                #{deptId}
            </foreach>
            <if test="request.dataPermission.viewId == 'ALL'">
                or sou.user_id = #{request.userId}
            </if>
            )
        </if>

        where c.organization_id = #{request.orgId}
        <if test="request.startTime != null and request.endTime != null">
            and c.create_time &gt;= #{request.startTime} and c.create_time &lt;= #{request.endTime}
        </if>

        <if test="request.dataPermission != null and request.dataPermission.self">
            and c.owner = #{request.userId}
        </if>
    </select>

    <select id="selectTotalList" resultType="cn.cordys.crm.follow.dto.response.FollowUpPlanListResponse">
        SELECT
        fup.id,
        fup.customer_id,
        fup.opportunity_id,
        fup.type,
        fup.clue_id,
        fup.content,
        fup.owner,
        fup.contact_id,
        fup.estimated_time,
        fup.create_time,
        fup.update_time,
        fup.create_user,
        fup.update_user,
        fup.method,
        fup.converted,
        fup.status,
        fup.organization_id,
        if (fup.type = 'CLUE', c.pool_id, cu.pool_id) as poolId
        FROM follow_up_plan fup
        LEFT JOIN clue c ON c.id = fup.clue_id
        LEFT JOIN customer cu ON cu.id = fup.customer_id
        <include refid="fieldConditionJoin">
            <property name="conditions" value="request.filters"/>
            <property name="tablePrefix" value="filter"/>
        </include>
        <include refid="fieldConditionJoin">
            <property name="conditions" value="request.combineSearch.conditions"/>
            <property name="tablePrefix" value="combine"/>
        </include>
        <include refid="viewFieldConditionJoin">
            <property name="conditions" value="request.viewCombineSearch.conditions"/>
            <property name="tablePrefix" value="viewCombine"/>
        </include>
        <include refid="fieldSortJoin">
            <property name="sort" value="request.sort"/>
        </include>
        <if test=" (clueDataPermission.deptIds != null and clueDataPermission.deptIds.size() > 0) or
                    (customerDataPermission.deptIds != null and customerDataPermission.deptIds.size() > 0) ">
            join sys_organization_user souu on fup.owner = souu.user_id
        </if>
        WHERE fup.organization_id = #{orgId} and (c.transition_type is null or c.transition_type != 'CUSTOMER')
        <!-- 业务数据权限条件 -->
        AND (
            <!-- 线索数据 -->
            (
                fup.type = 'CLUE'
                <if test="request.keyword != null and request.keyword != ''">
                    AND c.name like concat('%', #{request.keyword},'%')
                </if>
                <if test="clueDataPermission != null and clueDataPermission.self">
                    AND fup.owner = #{userId}
                </if>
                <if test="clueDataPermission.deptIds != null and clueDataPermission.deptIds.size() > 0">
                    AND (
                        souu.department_id IN
                        <foreach collection="clueDataPermission.deptIds" item="deptId" open="(" close=")" separator=",">
                            #{deptId}
                        </foreach>
                        <if test="clueDataPermission.viewId == 'ALL'">
                            OR fup.owner = #{userId}
                        </if>
                    )
                </if>
            )
            OR
            <!-- 客户数据 -->
            (
                fup.type = 'CUSTOMER'
                <if test="request.keyword != null and request.keyword != ''">
                    AND cu.name like concat('%', #{request.keyword},'%')
                </if>
                <if test="customerDataPermission != null and customerDataPermission.self">
                    AND fup.owner = #{userId}
                </if>

                <if test="customerDataPermission.deptIds != null and customerDataPermission.deptIds.size() > 0">
                    AND (
                        souu.department_id IN
                        <foreach collection="customerDataPermission.deptIds" item="deptId" open="(" close=")" separator=",">
                            #{deptId}
                        </foreach>
                        <if test="customerDataPermission.viewId == 'ALL'">
                            OR fup.owner = #{userId}
                        </if>
                    )
                </if>
            )
        )

        <if test="request.status != null and request.status != '' and request.status != 'ALL'">
            AND status = #{request.status}
        </if>

        <!-- 高级搜索/过滤, 排序条件 -->
        <include refid="filters">
            <property name="filters" value="request.filters"/>
        </include>
        <include refid="combine">
            <property name="combineSearch" value="request.combineSearch"/>
        </include>
        <include refid="viewCombine">
            <property name="combineSearch" value="request.viewCombineSearch"/>
        </include>
        <include refid="sort">
            <property name="sort" value="request.sort"/>
        </include>
    </select>

    <sql id="fieldConditionJoin">
        <if test="${conditions} != null and ${conditions}.size() > 0">
            <foreach collection="${conditions}" item="condition" index="i">
                <if test="condition.name != 'content'
                    and condition.name != 'owner' and condition.name != 'type'
                    and condition.name != 'customerId' and condition.name != 'opportunityId'
                    and condition.name != 'clueId' and condition.name != 'contactId'
                    and condition.name != 'estimatedTime' and condition.name != 'method'
                    and condition.name != 'status' and condition.name != 'converted'
                    and condition.name != 'createTime' and condition.name != 'createUser'
                    and condition.name != 'updateUser' and condition.name != 'updateTime'">
                    <if test="condition.multipleValue">
                        LEFT JOIN follow_up_plan_field_blob ${tablePrefix}_${i}
                        ON fup.id = ${tablePrefix}_${i}.resource_id AND ${tablePrefix}_${i}.field_id = #{condition.name}
                    </if>
                    <if test="!condition.multipleValue">
                        LEFT JOIN follow_up_plan_field ${tablePrefix}_${i}
                        ON fup.id = ${tablePrefix}_${i}.resource_id AND ${tablePrefix}_${i}.field_id = #{condition.name}
                    </if>
                    <if test="condition.name == 'departmentId'">
                        LEFT JOIN sys_organization_user sou ON fup.owner = sou.user_id
                    </if>
                    <if test="condition.name == 'phone'">
                        LEFT JOIN customer_contact cc ON fup.contact_id = cc.id
                    </if>
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="viewFieldConditionJoin">
        <if test="${conditions} != null and ${conditions}.size() > 0">
            <foreach collection="${conditions}" item="condition" index="i">
                <if test="condition.name != 'content'
                    and condition.name != 'owner' and condition.name != 'type'
                    and condition.name != 'customerId' and condition.name != 'opportunityId'
                    and condition.name != 'clueId' and condition.name != 'contactId'
                    and condition.name != 'estimatedTime' and condition.name != 'method'
                    and condition.name != 'status' and condition.name != 'converted'
                    and condition.name != 'createTime' and condition.name != 'createUser'
                    and condition.name != 'updateUser' and condition.name != 'updateTime'">
                    <if test="condition.multipleValue">
                        LEFT JOIN follow_up_plan_field_blob ${tablePrefix}_${i}
                        ON fup.id = ${tablePrefix}_${i}.resource_id AND ${tablePrefix}_${i}.field_id = #{condition.name}
                    </if>
                    <if test="!condition.multipleValue">
                        LEFT JOIN follow_up_plan_field ${tablePrefix}_${i}
                        ON fup.id = ${tablePrefix}_${i}.resource_id AND ${tablePrefix}_${i}.field_id = #{condition.name}
                    </if>
                    <if test="condition.name == 'departmentId'">
                        LEFT JOIN sys_organization_user sou ON fup.owner = sou.user_id
                    </if>
                    <if test="condition.name == 'phone'">
                        LEFT JOIN customer_contact cc ON fup.contact_id = cc.id
                    </if>
                </if>
            </foreach>
        </if>
    </sql>

    <sql id="fieldSortJoin">
        <if test="${sort} != null and ${sort}.valid() and ${sort}.name not in
                {'content', 'owner', 'type', 'customerId', 'opportunityId', 'clueId', 'contactId', 'estimatedTime', 'method', 'status', 'converted',
                'create_user', 'update_user', 'create_time', 'update_time'}">
            <bind name="sortName" value="${sort}.name"/>
            LEFT JOIN follow_up_plan_field sort_table ON fup.id = sort_table.resource_id AND sort_table.field_id = #{sortName}
            LEFT JOIN sys_module_field module_table ON sort_table.field_id = module_table.id
            <if test="${sort} != null and ${sort}.valid() and ${sort}.name == 'department_id'">
                LEFT JOIN sys_organization_user sou on sou.user_id = fup.owner
            </if>
        </if>
    </sql>

    <sql id="filters">
        <if test="${filters} != null and ${filters}.size() > 0">
            <trim prefix="and">
                <foreach collection="${filters}" item="condition" open="(" close=")" index="i" separator="and">
                    <include refid="condition">
                        <property name="condition" value="condition"/>
                        <property name="fieldTable" value="filter_${i}.field_value"/>
                    </include>
                </foreach>
            </trim>
        </if>
    </sql>

    <sql id="combine">
        <if test="${combineSearch} != null and ${combineSearch}.conditions != null and ${combineSearch}.conditions.size() > 0">
            <trim prefix="and">
                <trim prefix="(" suffix=")" suffixOverrides="and|or">
                    <foreach collection="${combineSearch}.conditions" index="i" item="condition">
                        <include refid="condition">
                            <property name="condition" value="condition"/>
                            <property name="fieldTable" value="combine_${i}.field_value"/>
                            <property name="table" value="combine_${i}"/>
                        </include>
                        <include refid="cn.cordys.common.mapper.CommonMapper.searchMode">
                            <property name="searchMode" value="${combineSearch}.searchMode"/>
                        </include>
                    </foreach>
                </trim>
            </trim>
        </if>
    </sql>

    <sql id="viewCombine">
        <if test="${combineSearch} != null and ${combineSearch}.conditions != null and ${combineSearch}.conditions.size() > 0">
            <trim prefix="and">
                <trim prefix="(" suffix=")" suffixOverrides="and|or">
                    <foreach collection="${combineSearch}.conditions" index="i" item="condition">
                        <include refid="condition">
                            <property name="condition" value="condition"/>
                            <property name="fieldTable" value="viewCombine_${i}.field_value"/>
                            <property name="table" value="viewCombine_${i}"/>
                        </include>
                        <include refid="cn.cordys.common.mapper.CommonMapper.searchMode">
                            <property name="searchMode" value="${combineSearch}.searchMode"/>
                        </include>
                    </foreach>
                </trim>
            </trim>
        </if>
    </sql>

    <sql id="condition">
        <choose>
            <when test="condition.name == 'content'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.content"/>
                </include>
            </when>
            <when test="condition.name == 'type'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.type"/>
                </include>
            </when>
            <when test="condition.name == 'owner'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.owner"/>
                </include>
            </when>
            <when test="condition.name == 'customerId'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.customer_id"/>
                </include>
            </when>
            <when test="condition.name == 'opportunityId'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.opportunity_id"/>
                </include>
            </when>
            <when test="condition.name == 'clueId'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.clue_id"/>
                </include>
            </when>
            <when test="condition.name == 'contactId'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.contact_id"/>
                </include>
            </when>
            <when test="condition.name == 'method'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.method"/>
                </include>
            </when>
            <when test="condition.name == 'estimatedTime'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.estimated_time"/>
                </include>
            </when>
            <when test="condition.name == 'status'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.status"/>
                </include>
            </when>
            <when test="condition.name == 'converted'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.converted"/>
                </include>
            </when>
            <when test="condition.name == 'createUser'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.create_user"/>
                </include>
            </when>
            <when test="condition.name == 'createTime'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.create_time"/>
                </include>
            </when>
            <when test="condition.name == 'updateUser'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.update_user"/>
                </include>
            </when>
            <when test="condition.name == 'updateTime'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="fup.update_time"/>
                </include>
            </when>
            <when test="condition.name == 'departmentId'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="sou.department_id"/>
                </include>
            </when>
            <when test="condition.name == 'phone'">
                <include refid="cn.cordys.common.mapper.CommonMapper.condition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="cc.phone"/>
                </include>
            </when>
            <otherwise>
                <include refid="cn.cordys.common.mapper.CommonMapper.moduleFieldCondition">
                    <property name="condition" value="condition"/>
                    <property name="column" value="${fieldTable}"/>
                </include>
            </otherwise>
        </choose>
    </sql>

    <sql id="sort">
        <choose>
            <when test="${sort} != null and ${sort}.valid()">
                <bind name="sortType" value="${sort}.type" />
                order by
                <choose>
                    <when test="${sort}.name == 'customer_id'">
                        fup.`customer_id` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'opportunity_id'">
                        fup.`opportunity_id` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'clue_id'">
                        fup.`clue_id` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'contact_id'">
                        fup.`contact_id` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'type'">
                        fup.`type` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'owner'">
                        fup.`owner` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'method'">
                        fup.`method` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'status'">
                        fup.`status` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'converted'">
                        fup.`converted` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'estimated_time'">
                        fup.`estimated_time` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'create_time'">
                        fup.`create_time` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'update_time'">
                        fup.`update_time` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'create_user'">
                        fup.`create_user` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'update_user'">
                        fup.`update_user` ${sortType}, fup.id ASC
                    </when>
                    <when test="${sort}.name == 'department_id'">
                        sou.`id` ${sortType}, c.id ASC
                    </when>
                    <otherwise>
                        CASE
                        WHEN module_table.type = 'INPUT_NUMBER'
                        THEN sort_table.field_value+0
                        END ${sortType},
                        sort_table.field_value ${sortType},
                        fup.id ${sortType}
                    </otherwise>
                </choose>
            </when>
            <otherwise>
                order by fup.estimated_time desc, fup.create_time desc
            </otherwise>
        </choose>
    </sql>

    <update id="batchMerge" parameterType="cn.cordys.crm.customer.dto.request.CustomerMergeRequest">
        update follow_up_plan set customer_id = #{request.toMergeId}, update_user = #{userId}, update_time = unix_timestamp() * 1000
        where customer_id in
        <foreach collection="request.mergeIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and organization_id = #{orgId}
    </update>

    <select id="getMergePlanList" resultType="cn.cordys.crm.follow.domain.FollowUpPlan">
        select customer_id from follow_up_plan
        where customer_id in
        <foreach collection="request.mergeIds" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        and organization_id = #{orgId}
    </select>
</mapper>