<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cordys.crm.system.mapper.ExtMessageTaskConfigMapper">


    <select id="getConfigByModuleAndEvent" resultType="cn.cordys.crm.system.domain.MessageTaskConfig">
        select *
        from sys_message_task_config
        where organization_id = #{organizationId}
          and task_type = #{module}
          and event = #{event} limit 1;
    </select>


</mapper>