<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cordys.crm.order.mapper.ExtOrderStageConfigMapper">


    <select id="getStageConfigList" resultType="cn.cordys.crm.order.dto.response.OrderStageConfigResponse">
        select id, name, type, afoot_roll_back, end_roll_back, pos
        from sales_order_stage_config
        where organization_id = #{orgId}
        order by pos asc
    </select>

    <select id="countStageConfig" resultType="java.lang.Integer">
        select count(id)
        from sales_order_stage_config
        where organization_id = #{orgId}
    </select>

    <update id="moveUpStageConfig">
        update sales_order_stage_config
        set pos = pos + #{pos}
        where pos &gt;= #{start}
          and organization_id = #{orgId}
    </update>

    <update id="moveDownStageConfig">
        update sales_order_stage_config
        set pos = pos + #{pos}
        where pos &gt; #{start}
          and organization_id = #{orgId}
    </update>


    <update id="updateRollBack">
        UPDATE sales_order_stage_config
        <set>
            <if test="request.afootRollBack != null">
                afoot_roll_back =#{request.afootRollBack},
            </if>
            <if test="request.endRollBack != null">
                end_roll_back = #{request.endRollBack},
            </if>
        </set>
        WHERE organization_id = #{orgId}
    </update>

    <update id="updateStageConfig">
        update sales_order_stage_config
        set name        = #{request.name},
            update_user = #{userId},
            update_time = unix_timestamp() * 1000
        where id = #{request.id}
    </update>


    <update id="updatePos">
        update sales_order_stage_config set pos = #{pos} where id = #{id}
    </update>
</mapper>