<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.cordys.crm.biz.mapper.ExtBizContactMapper">

    <select id="getContactsByUserPhone" resultType="cn.cordys.crm.biz.dto.ContactByPhoneResponse">
        SELECT c.*,
               MAX(cc.phone)                                                            AS phone,
               MAX(CASE WHEN cf.field_id = 'customer_category' THEN cf.field_value END) AS category,
               MAX(CASE WHEN cf.field_id = 'customer_website' THEN cf.field_value END)  AS website
        FROM customer c
                 LEFT JOIN customer_field cf ON c.id = cf.resource_id
                 LEFT JOIN customer_contact cc ON c.id = cc.customer_id
        WHERE c.owner = (SELECT id FROM sys_user WHERE phone = #{phone})

        GROUP BY c.id
    </select>
</mapper>
